.app { margin-top:30px; display:flex; justify-content:space-between; }
.langActive { font-weight:bold; }
.lang { display:flex; align-items: center; }
.langButton { margin-right:5px; }
.health {
  min-width: 220px;
  display:flex;
  justify-content: flex-end;
}
